body {
  display: grid;
  width: 100%;
  background: #E5E5E5; }

a {
  text-decoration: none; }

#BG {
  background: #CCCCCC;
  display: inline-grid; }

#rectangle {
  width: 100%;
  height: 726px;
  background-image: url("../images/rectangle.png");
  background-repeat: no-repeat;
  background-size: cover; }

#top-menu {
  display: flow-root;
  padding: 37px 150px; }

#top-menu a {
  width: 81px;
  height: 15px;
  margin-right: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
  vertical-align: middle; }

.urls img, .urls svg {
  vertical-align: top; }

#logo {
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF; }

#togglemenu {
  display: none; }

.urls {
  float: right; }

.download-icon {
  margin-right: 6px; }

header {
  width: 549px;
  height: 304px;
  margin-top: 146px;
  margin-left: 149px; }

.text1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 53.2px;
  line-height: 62px;
  color: #FFFFFF; }

.text2 {
  margin-top: 11px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18.2px;
  line-height: 21px;
  color: #FFFFFF; }

.YTbutton {
  width: 179px;
  height: 54px;
  margin-top: 42px;
  background: #F44336;
  box-shadow: 0px 2px 2px rgba(244, 67, 54, 0.14);
  border-radius: 3px;
  text-align: center; }

.VIcon {
  display: inline-flex;
  margin-top: 19px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF; }

.VIcon::before {
  content: url("../images/YTIcon.svg"); }

main {
  display: flex;
  margin-top: -65px; }

#maincontent {
  width: 100%;
  margin: 0 30px;
  background: #FFFFFF;
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.14), 0px 8px 10px rgba(0, 0, 0, 0.2);
  border-radius: 6px; }

.Mtext1 {
  margin-top: 91px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36.4px;
  line-height: 43px;
  color: #3C4858;
  text-align: center; }

.Mtext2 {
  margin: auto;
  width: 723px;
  height: 70px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 17.5px;
  line-height: 21px;
  text-align: center;
  color: #999999; }

#features {
  display: flex;
  margin: 161px 138px 190px 138px;
  justify-content: center; }

#features .FF {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #3C4858; }

.FFC {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #999999; }

.FFC a {
  color: #9C27B0; }

.texticon {
  width: 328px;
  height: 201px;
  text-align: center;
  display: inline-block; }

.texticon2 {
  width: 328px;
  height: 201px;
  text-align: center;
  display: inline-block;
  margin: auto 62px; }

#team img {
  width: 170px;
  height: 170px; }

.title {
  margin-bottom: 86px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36.4px;
  line-height: 43px;
  color: #3C4858;
  text-align: center; }

.teaminside {
  display: flex;
  justify-content: space-around;
  padding: 0 200px; }

.teamnames {
  margin: auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: bolder;
  font-size: 18.2px;
  line-height: 21px;
  color: #3C4858; }

.profile {
  width: 352px;
  height: 415px;
  text-align: center;
  margin-top: 86px;
  margin-right: 36px; }

.prof {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 13.65px;
  line-height: 16px;
  color: #777777; }

.smallicons {
  display: flex;
  align-items: center;
  padding: 7px 105px;
  justify-content: space-evenly; }

#wwu {
  margin: 182px 315px;
  text-align: center; }

.textwwu {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36.4px;
  line-height: 43px;
  color: #3C4858;
  text-align: center;
  margin: auto; }

.downtext {
  margin: auto;
  width: 753px;
  height: 72px;
  margin-top: 38px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18.2px;
  line-height: 21px;
  text-align: center;
  color: #999999; }

#YNYE {
  width: 340px;
  height: 38px;
  margin-top: 36px;
  margin-left: 29px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #999999; }

#YM {
  width: 721px;
  height: 92px;
  margin-top: 38px;
  margin-left: 29px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #999999; }

.underline {
  outline: none;
  border: none;
  border-bottom: 1px solid #D2D2D2; }

#YM:focus, #YNYE:focus {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #9C27B0;
  border: none;
  border-bottom: 1px solid #9C27B0; }

.sub {
  width: 148px;
  height: 41px;
  margin: 25px 311px 84px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  background: #9C27B0;
  box-shadow: 0px 2px 2px rgba(156, 39, 176, 0.2);
  border-radius: 3px;
  border: none; }

footer {
  display: flex;
  margin: 28px 153px 32px 165px;
  justify-content: space-between; }

#foot-menu a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #333333;
  margin-right: 33px; }

footer p {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 11px;
  text-align: center;
  color: #000000;
  float: right; }

@media screen and (max-width: 768px) {
  body {
    margin: auto;
    background: #CCCCCC; }

  #BG {
    width: 100%;
    display: block; }

  #rectangle {
    width: 100%;
    height: 597px; }

  #top-menu {
    width: 100%;
    height: 67px;
    background: rgba(0, 0, 0, 0.4); }

  header {
    width: 716px;
    height: 302px;
    margin: 107px 28px 59px 0; }

  header div {
    margin: 0 28px 0 24px; }

  #top-menu {
    padding: 0; }

  #togglemenu {
    display: none; }

  #logo, .urls {
    padding: 22px 0;
    margin-left: 24px; }

  #maincontent {
    margin: 0px 10px; }

  #features {
    display: grid;
    width: 328px;
    margin: 162px auto; }

  .texticon {
    padding: 0 0 107px 0; }

  .texticon2 {
    padding: 0 0 107px 0;
    margin: auto; }

  #wwu {
    margin: auto; }

  .teaminside {
    display: grid; }

  footer {
    width: 459px;
    height: 62px;
    margin: 31px auto 26px 39px;
    display: block; } }
@media screen and (max-width: 425px) {
  body {
    margin: auto;
    background: #CCCCCC; }

  #BG {
    width: 100%;
    display: block; }

  #rectangle {
    width: 100%;
    height: 664px; }

  #top-menu {
    width: 100%;
    height: 67px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between; }

  #togglemenu {
    width: 22px;
    height: 14px;
    display: block;
    content: url(../images/menu.png);
    margin: 18px 25px 30px auto; }

  .urls {
    display: none; }

  header {
    width: 383px;
    height: 416px;
    margin: 112px 27px 20px 15px; }

  #maincontent {
    height: 3718px; }

  .Mtext2 {
    width: 368px;
    height: 139px; }

  #features {
    display: grid; }

  #team {
    width: 373px;
    margin: auto; }

  h2 {
    margin: auto;
    width: 268px;
    height: 43px;
    text-align: end; }

  #wwu {
    display: block;
    max-width: 425px;
    height: 548px;
    margin: auto; }

  #wwu p {
    width: 378px;
    height: 123px; }

  #wwu input {
    width: 378px;
    height: 38px;
    margin-left: 0; }

  #wwu .sub {
    width: 148px;
    height: 41px;
    margin: 24px auto 79px; }

  footer {
    width: 321px;
    height: 63px;
    margin: 31px auto 26px 39px;
    display: block; }

  footer p {
    float: none; } }
    

/*# sourceMappingURL=style.css.map */
